h1 {
  font-size: 5rem;
  font-weight: 800;
  text-shadow: 0px 0px 2px rgb(20, 71, 230, 0.6);
  text-align: center;
  color: #1447e6;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

button {
  font-size: 2rem;
  padding: 0.75em 1.5em;
  background-color: #51a2ff;
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2b7fff;
  transition: all 0.2s ease-in-out;
}

button:active {
  background-color: #193cb8;
}

input[type="text"] {
  font-size: 1.8rem;
  padding: 0.3em 0.5em;
  border-radius: 3px;
  font-family: inherit;
  line-height: 1.5;
  background-color: #eff6ff;
  border: 2px solid #1447e6;
}

input[type="text"]:focus {
  outline: none;
}

.todo-container {
  height: 80vh;
  width: 100%;
}

.todo-list {
  margin-top: 4rem;
  font-size: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 500;
}

.todo-list li {
  background-color: #bedbff;
  padding: 0.5em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.todo-icon {
  cursor: pointer;
}

.todo-done {
  background-color: red;
  text-decoration: line-through;
}
